ion-content {
  background: rgb(170, 57, 57)
}
h2 {
color: #ffffff;
font-family: Courier New;
text-align: center;
font-weight: 600;
font-size: xx-large;
margin-right: 30%;
margin-left: 30%;
text-decoration: solid;
}
p {
  color: #ffffff;
  font-family: Courier New;
  font-weight: 600;
  margin-right: 30%;
  margin-left: 30%;
  text-align:justify ;
}
b {
  color: #ffffff;
  font-family: Courier New;
  font-size: larger;
  font-weight: 600;
  margin-left: 30%;
  margin-right: 30%;


}